.space-button-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.space-button-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsla(0, 0%, 0%, 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.space-button-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(226, 100%, 16%) 0%,
            hsl(226 100% 32%) 8%,
            hsl(226 100% 32%) 92%,
            hsl(226 100% 16%) 100%);
}

.space-button-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(226 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .space-button-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.space-button-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.space-button-pushable:hover .space-button-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.space-button-pushable:active .space-button-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.space-button-pushable:hover .space-button-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.space-button-pushable:active .space-button-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.space-button-pushable:focus:not(:focus-visible) {
    outline: none;
}