body {
  background-color: #0048e8;
  color: white;
  padding: 20px;
  margin: 0;
  font-family: 'Kalam', cursive;
  font-size: 20px;
}

.title {
  font-size: 60px;
  margin-bottom: 10px;
}

.file-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.file-input label {
  margin-right: 10px;
}

.file-input input[type="file"] {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


#menu {
  height: 100%;
  width: 100%;
  display: flex;
}

#subtitles-range {
  width: 50%;
}

#subtitles-range-table {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  max-height: 220px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}


#subtitles-form,
#subtitles-capture {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}



table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
}

table td,
table th {
  border: 1px solid black;
  padding: 10px;
}


th:nth-child(1),
td:nth-child(1),
th:nth-child(2),
td:nth-child(2),
th:nth-child(4),
td:nth-child(4),
th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}



#subtitles-emu {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  margin-left: 30px;
}

#video-box {
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

#video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  background-color: white;
}

#video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#video-subs,
#video-time {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

#subtitles-form {
  margin-top: 20px;
  padding-top: 20px;
}

#subtitles-form input,
#subtitles-form textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}


#import-export-btns button,
#subtitles-form button {
  background: none;
  border: none;
  cursor: pointer;
}


#subtitles-range table td {
  position: relative;
}

#subtitles-range table td button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 24px;
  height: 24px;
}

#subtitles-range table td button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#subtitle-text {
  direction: rtl;
}

input,
select,
textarea {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  height: 20px;
}

select {
  height: 27px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 20px;
}

.time-input-container {
  display: flex;
}

.input-wrapper {
  margin-right: 10px;
}

.input-wrapper label {
  display: block;
  margin-bottom: 5px;
}



#subtitles-gen-button {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
  margin-top: 30px;
}

.white-wrapper {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

}