<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Subtitle Creator</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kalam">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='weetalert2.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='space-button.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='switch.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">


    <!-- 
    <link rel="stylesheet" type="text/css" href="../static/space-button.css">
    <link rel="stylesheet" type="text/css" href="../static/weetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" type="text/css" href="../static/switch.css">
    -->



</head>

<body>
    <h1 class="title">Subtitle Creator.</h1>
    <div class="file-input">
        <p id="video-path-label">let video_path =&nbsp;</p>
        <label for="file" class="file-label" id="file-label"> click to select; </label>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="file" accept="video/mp4" >
        </form>
        
    </div>

    <div id="menu">
        <div id="subtitles-range">
            <div class="white-wrapper">
                <h3>Subtitles range:</h3>
            </div>
            <div id="subtitles-range-table">
                <table>
                    <thead>
                        <tr>
                            <th>Start (ms)</th>
                            <th>End (ms)</th>
                            <th>Subtitle</th>
                            <th>Play</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="subtitles-table-body"></tbody>
                </table>
            </div>

            <div class="white-wrapper" id="import-export-btns" style="margin-top: 10dp;">
                <button id="import-subtitles-btn">Import Subtitles</button>
                <input type="file" id="import-subtitles-input" accept=".srt" style="display: none;">

                <button id="export-subtitles-btn">Export Subtitles</button>
            </div>

            <div id="subtitles-form">
                <h3>Subtitles form:</h3>
                <div class="time-input-container">
                    <div class="input-wrapper">
                        <label for="start-time-input">Start Time</label>
                        <input type="text" class="edit-input time-input" id="start-time-input" value="00:00:00.00">
                    </div>
                    <div class="input-wrapper">
                        <label for="end-time-input">End Time</label>
                        <input type="text" class="edit-input time-input" id="end-time-input" value="00:00:00.00">
                    </div>
                    <div class="input-wrapper">
                        <label for="shift-step-input">Shift Step</label>
                        <input type="number" class="edit-input shift-step-input" id="shift-step-input" value="500"
                            min="1">
                    </div>
                    <div class="input-wrapper">
                        <label for="play-options">Play Options:</label>
                        <select id="play-options">
                            <option value="skip">Skip</option>
                            <option value="skip-pause">Skip and Pause</option>
                            <option value="skip-loop">Skip and Loop</option>
                        </select>
                    </div>
                    <div class="input-wrapper">
                        <label for="loop-input">Loops</label>
                        <input type="number" class="edit-input loop-input" id="loop-input" value="1" min="0"
                            style="width: 30px;">
                    </div>
                </div>

                <textarea id="subtitle-text" placeholder="Subtitle" spellcheck="true"></textarea>
                <button id="add-subtitle-btn">Add Subtitle</button>
            </div>

            <div id="subtitles-capture">
                <h3>Subtitles generation:</h3>
                <div id="subtitles-gen-wrapper">
                    <button id="subtitles-gen-button" class="space-button-pushable" role="button">
                        <span class="space-button-shadow"></span>
                        <span class="space-button-edge"></span>
                        <span class="space-button-front text">
                            Generate Subtitles
                        </span>
                    </button>
                    <div id="checkbox-wrapper">
                        Delete generated file
                        <label class="switch">
                            <input id="del-gen-file" type="checkbox" id="checkbox-export">
                            <span class="slider"></span>
                        </label>

                    </div>
                </div>
            </div>

        </div>

        <div id="subtitles-emu">
            <div id="video-box">
                <h3>Subtitles emulator:</h3>
                <div id="video-container"></div>
            </div>
            <p id="video-subs"></p>
            <p id="video-time"></p>
        </div>

    </div>

    <script src="{{url_for('static', filename='jquery-3.6.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='sweetalert2.all.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery.maskedinput.min.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>

    <!--
    <script src="../static/jquery-3.6.0.min.js"></script>
    <script src="../static/sweetalert2.all.min.js"></script>
    <script src="../static/jquery.maskedinput.min.js"></script>
    <script src="../static/script.js"></script>
     -->

</body>

</html>